<div class="select-boxes">
  <div ng-class="component.inline ? 'checkbox-inline' : 'checkbox'" ng-repeat="item in selectItems track by $index">
    <label class="control-label" for="{{ componentId }}-{{ getItemValue(item) }}">
      <input type="checkbox"
        id="{{ componentId }}-{{ getItemValue(item) }}"
        name="{{ componentId }}-{{ getItemValue(item) }}"
        value="{{ getItemValue(item) }}"
        tabindex="{{ component.tabindex || 0 }}"
        ng-disabled="readOnly"
        ng-click="toggleCheckbox(getItemValue(item))"
        ng-checked="model[getItemValue(item)]"
        grid-row="gridRow"
        grid-col="gridCol"
      >
      {{ getItemLabel(item) | formioTranslate:null:builder }}
    </label>
  </div>
</div>
